/* Styling for the top section */
html 
body {
    margin: 20px;
    padding: 20px;
    font-family: Arial, sans-serif;
    background-image: url('../static/bg.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#clerk-components {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;

}

.top-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px;
    margin: 0px 20px;
    background-color: transparent; /* Change the background color as needed */
    top: 0;
    position: absolute;
    width: 100%;
    z-index: 3; /* Ensure the top section is above other content */
}

.logo {
    width: 100px; /* Adjust the width of the logo as needed */
}

.project-heading {
    margin: 0;
    font-size: 24px;
    text-align: center; /* Center the project heading */
}

.button-container {
    display: flex;
    align-items: center; /* Align buttons vertically center */
}

/* Add this to your home.css file */
body {
    position: relative;
    height: 100vh; /* Ensure full height of the viewport */
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* User Information Grid Styling */
.user-info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    padding: 20px;
    background-color: #ffffff;
    border: 1px solid #000000;
    margin: 20px;
}

.user-info-grid div {
    border-bottom: 1px solid #000000;
    padding: 10px;
}

/* Health Metrics Section Styling */
.health-metrics {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
}

.metric {
    background-color: #ffffff;
    border: 1px solid #000000;
    padding: 20px;
    text-align: center;
}
