<!DOCTYPE html>
<html>
<head>
    <title>HealthSphere: Home</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css') }}"> 
    <script defer
        async
        crossorigin="anonymous"
        data-clerk-publishable-key="pk_test_bGVhZGluZy1yYXR0bGVyLTMyLmNsZXJrLmFjY291bnRzLmRldiQ"
        src="https://leading-rattler-32.clerk.accounts.dev/npm/@clerk/clerk-js@4/dist/clerk.browser.js"
        type="text/javascript">
    </script>
</head>
<body>
    <div class="top-section">
        <img src="{{ url_for('static', filename='logo.png') }}" alt="Project Logo" class="logo">
        <h1 class="project-heading">HealthSphere: AI Driven Health Tracking and Emergency Support</h1>
        <div class="button-container">
            <button class="login-button" onclick="showLogIn()">Login</button>
            <button class="signup-button" onclick="showSignUp()">SignUp</button>
        </div>
    </div>


    <script>
        function showLogIn() {
            const script = document.createElement('script');
            // Set your Clerk publishable key
            script.setAttribute('data-clerk-publishable-key', `​pk_test_bGVhZGluZy1yYXR0bGVyLTMyLmNsZXJrLmFjY291bnRzLmRldiQ​`);
            script.async = true;
            script.src = `https://leading-rattler-32.clerk.accounts.dev/npm/@clerk/clerk-js@latest/dist/clerk.browser.js`;
        
            script.addEventListener('load', async function () {
            await window.Clerk.load();

            window.Clerk.openSignIn({
                redirectUrl: '/getdata',
            });
            });
            document.body.appendChild(script);
        }

        function showSignUp() {
            const script = document.createElement('script');
            // Set your Clerk publishable key
            script.setAttribute('data-clerk-publishable-key', `​pk_test_bGVhZGluZy1yYXR0bGVyLTMyLmNsZXJrLmFjY291bnRzLmRldiQ​`);
            script.async = true;
            script.src = `https://leading-rattler-32.clerk.accounts.dev/npm/@clerk/clerk-js@latest/dist/clerk.browser.js`;
        
            script.addEventListener('load', async function () {
            await window.Clerk.load();
            
            window.Clerk.openSignUp({
                redirectUrl: '/getdata',
            });
            });
            document.body.appendChild(script);
        }

        function test() {
            console.log('Hello, World!');
        }
    </script>
</body>
</html>